.visuals{
    background-color: #070F2B;
}
.visuals h1{
    color: #fff;
    display: grid;
    place-content: center;
}
.visual-grid-col-span-2-article{
    background: url(../../images/visuals.jpeg);
    background-size: cover;
}
.visual-article{
    background: url(../../images/visuals1.jpeg);
    background-size: cover;
}

.visual-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 2rem;
    width: min(95%);
    height: 80vh;
    margin-inline: auto;
    
}

@media screen and (min-width: 553px) {
    .visual-grid-col-span-2-article {
        grid-column: span 2;
        border-radius: 10px;
    }
    .visual-grid {
       grid-template-columns: repeat(4, 1fr);
       border-radius: 10px;
    }
    .visual-grid > *:nth-child(5) {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 10px;
    }
    .visual-grid > *:nth-child(1) {
        border-radius: 10px;
    }.visual-grid > *:nth-child(2) {
        border-radius: 10px;
    }.visual-grid > *:nth-child(3) {
        border-radius: 10px;
    }.visual-grid > *:nth-child(4) {
        border-radius: 10px;
    }
}
