.header{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #070F2B;
    color: #535C91;
    align-items: center;
    font-size: 2rem;
    box-shadow: 10px 10px 10px #1c2242;
    border-bottom: 4px solid black;
   
    
}
.header-maintitle{
    text-transform: capitalize;
}
.lists{
    list-style: none;
    gap: 3rem;
}
.navigation-bar ol{
    display: flex;
    justify-content: space-between;
    
}
.navigation-bar a{
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #b0b1b6;
    justify-content: space-between;
}
.navigation-bar a:hover{
    background-color: #535C91;
    color: #070F2B;
    border-radius: 15px;
}

@media screen and (max-width: 605px) {
    .header{
        display: flex;
        flex-direction: column;
    }

        .navigation-bar ol{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
}
@media screen and (max-width: 520px){
    .header{
        font-size: 1.5rem;
        }
    .navigation-bar ol{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.5rem;
    }
}