.testimonials {
    background-color: #070F2B;
    padding: 20px;
    text-align: center;
}

.testimonials h1 {
    color: white;
    padding: 20px;
}

.testimonial-card {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    background-color: #1c1c1c;
}

.testimonial-card .card-img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonials p {
    color: white;
    line-height: 1.8;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
}
