*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

button{
  padding: 7px;
  width: 50%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: linear-gradient(to right, #1B1A55, white);
  transform: all 0.3s ease;
  box-shadow: 5px 5px 5px black;
  text-transform: capitalize;
  color: black;
  font-size: .8rem;
  font-weight: 400;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

video {
  max-width: 100%;
  height: auto;
}
